/*
Hathor style, written in LESS.

Don't go deeper than three levels, man. Follow http://css-tricks.com/sass-style-guide/
*/

// some variables
@headbackground: #333;

/************************************************
 * FONTS
 ***********************************************/
@font-face {
	font-family: 'latolight';
	font-style: normal;
    src: local("Lato Light"),
    	 url("../fonts/lato/svg/Lato-Light.svg") format("svg"),
    	 url("../fonts/lato/ttf/Lato-Lig.ttf") format("truetype");
}
@font-face {
	font-family: 'latohairline';
	font-style: normal;
	src: local("Lato Hairline"),
		 url("../fonts/lato/svg/Lato-Hairline.svg") format("svg"),
		 url("../fonts/lato/ttf/Lato-Hai.ttf") format("truetype");
}
@font-face {
	font-family: 'latoreg';
	font-style: normal;
    src: local("Lato Regular"),
		 url("../fonts/lato/svg/Lato-Regular.svg") format("svg"),
		 url("../fonts/lato/ttf/Lato-Reg.ttf") format("truetype");
}
@font-face {
	font-family: 'latoreg';
	font-style: normal;
	font-weight: 700;
    src: local("Lato Bold"),
		 url("../fonts/lato/svg/Lato-Bold.svg") format("svg"),
		 url("../fonts/lato/ttf/Lato-Bol.ttf") format("truetype");
}

/************************************************
 * MAIN/BODY STUFF
 ***********************************************/

html, body, #container {
	height: 100%;
	margin: 0;
	padding: 0;
}

#main {
	min-height: 100%;
	height: 100%;
}

#head {
	width: 100%;

	.container {
		background: inherit;
		color: #fff;
	}
	&.color .container {
		background: @headbackground;
	}

	.navbar-hathor {
		background: inherit;
		border: 0;
		border-radius: 0;
		margin-top: 20px;

		.navbar-brand {
			font-size: 22px;
		}
		a {
			color:;
		}
	}
}
// body.fancypane #head {
// 	position: fixed;
// 	top: 0;
// 	z-index: 3;
// }

/*
 * Typography!
 */
h1, h2, h3, h4, p, body {
	font-family: 'latoreg', 'Helvetica', sans-serif;
}
/************************************************
 * PAGE SPECIFIC STUFF
 ***********************************************/
/*
 * LANDING PAGE
 */
.pane {
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	overflow: hidden;
	position: relative;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	padding: 10% 0;


	a {
		color: rgba(0, 255, 255, 0.7);
	}
	a:hover {
		color: #fff;
	}
	.bottom {
		position: absolute;
		bottom: 0;
	}
	/*
	Photo credit:
	1: http://www.flickr.com/photos/31355686@N00/4701196608
	2: http://www.flickr.com/photos/stignygaard/12630269/
	3: http://www.flickr.com/photos/marfis75/3272901126/
	4: http://www.flickr.com/photos/marfis75/6089815305/
	5: http://www.flickr.com/photos/marfis75/7968954274/
	*/
	&#first {
		background: url('../img/landing/party_1.jpg');
	}
	&#second {
		background: url('../img/landing/party_4.jpg');
		text-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;

		.alert{
			text-shadow: none;
			a {
				color: rgba(0, 0, 0, 0.7);
			}
		}
	}
}

.screamer {
	text-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
	font-family: 'latolight', 'Helvetica', sans-serif;

	h2 {
		font-family: 'latohairline', 'Helvetica Neue', sans-serif;
	}
}

.between {
	background: @headbackground;
	color: #fff;
	padding: 4em 0;

	h1 {
		text-align: center;
	}
}

/*
 * PARTY PAGE
 */

.spotifysearch .searchresults a {
	display: block;
	clear: both;
	padding: 6px 12px;
	border-radius: 4px;
	color: #333;
	font-weight: bold;

	&.success {
		color: #468847;
		background-color: #dff0d8;
		border-color: #d6e9c6;

		&:focus, &:hover {
			color: #468847;
			background-color: #dff0d8;
		}
	}

	&:focus, &:hover {
		background: #eee;
		text-decoration: none;
	}

	i {
		color: #999;
		font-weight: normal;
	}
	span {
		color: #999;
		font-weight: normal;
	}
}

/************************************************
 * MISC Hathor specific styles
 ***********************************************/
span.miniinfo {
	font-family: 'latoreg', 'Helvetica', sans-serif;
	text-transform: uppercase;
	font-size: 80%;
}

.square-top {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-top: -1px;
}
.square-bottom {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

/************************************************
 * WESPONSIVE
 ***********************************************/
@media (min-width: 768px) {
	.screamer {
		h2 {
			font-size: 500%;
		}
		p {
			font-size: 200%;
		}
	}
}
